body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.order-navigation {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #293449;
}

.full-basket {
  background-color: #ee3643;
}

.full-basket:hover {
  background-color: #161d29;
}

.full-basket:active {
  background-color: #161d29;
  opacity: 0.5;
}

.checkout-open {
  background-color: #63a63e;
}

.order-navigation a,
.site-navigation a {
  color: #ffffff;
}

.login-form,
.site-navigation,
.footer-navigation-list-1,
.footer-navigation-list-2,
.social-networks-list {
  list-style: none;
}


.entry-field:hover,
.bookmarks:hover,
.empty-basket:hover {
  background-color: #212a3a;
}

.checkout-open:hover {
  background-color: #5fbb2d;
}

.bookmarks:active,
.empty-basket:active {
  opacity: 0.6;
  background-color: #161d29;
}

.checkout-open:active {
  background-color: #518534;
  opacity: 0.5;
}

.entry-field:focus {
  background-color: #ffffff;
  color: #262626;
}

.user-navigation {
  background-color: #f3f7f9;
}

.index-page-title,
.store-type {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 23px;
  color: #ee3643;
}


.phone-number .tel {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #32425c;
}


.login-form a,
.authorized-user p {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}

.login-form a:hover {
  color: #ee3643;
}

.login-form a:active {
  color: #000000;
  opacity: 0.3;
}

.authorized-user p:active {
  opacity: 0.3;
}

.authorized-user-menu a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.authorized-user-menu a:hover {
  color: #ee3643;
}

.authorized-user-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.site-navigation {
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  background-color: #32425c;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5
}

.catalog-container {
  color: #000000;
}

.firms-filter-list,
.powered-puncher-filter-list,
.sorting-list,
.puncher-list {
  list-style: none;
}

.catalog-page-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.filter h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;

}

.filter-title,
.sorting-title,
.show-result {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.filter label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-list .sort-type {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline dotted;
  text-decoration-color: #ee3643;
}

.sorting-list .by-price-active {
  color: rgba(238, 54, 67, 1);
  text-decoration: none;
}

.sorting-list .sort-type:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-decoration-color: #ee3643;
}

.puncher-list h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.puncher-list .old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.puncher-list .new-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}


.puncher-list .to-basket {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
}

.puncher-list .to-bookmarks {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
}

.puncher-list .new-price:hover {
  background-color: #ca2c37;
}

.puncher-list .to-basket:hover {
  background-color: #5fbb2d;
}

.puncher-list .to-basket:active {
  background-color: #518534;
}

.puncher-list .new-price:active {
  background-color: #ba2732;
}


.contacts-caption,
.about-us-caption {
  font-size: 30px;
  font-weight: 30px;
  text-transform: uppercase;
  color: #000000;
}

.about-us p,
.contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.transport-companies li {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;

}

.more-info-about-us,
.opening-window-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
}

.more-info-about-us:hover,
.opening-window-button:hover {
  background-color: #ca2c37;
}

.more-info-about-us:active,
.opening-window-button:active {
  background-color: #ba2732;
}

.main-footer .footer-top {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #32425c;
}

.footer-navigation-list-1 a {
  color: #f1f5f7;
}

.footer-navigation-list-2 a {
  color: #ffd180;
}

.footer-navigation-list-1 a:hover,
.footer-navigation-list-2 a:hover {
  text-decoration: underline;
}

.footer-navigation-list-1 a:active,
.footer-navigation-list-2 a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer .footer-bottom {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.social-networks-list a {
  background-color: #212a3a;
  color: #ffffff;
}

.social-networks-list a:hover,
.social-networks-list a:active {
  background-color: #ee3643
}

.feedback a,
.developer a {
  color: #ffd180;
}

.feedback a:hover,
.developer a:hover {
  text-decoration: underline;
}

.feedback a:active,
.developer a:active {
  text-decoration: none;
  color: #ee3643;
}
